@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
#heading-logo{
    font-family: 'Lobster', cursive;
    color: #f9f3f4;
    position: relative;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 0.6em;
}

#heading-logo h1{
    font-size:120px;
}
#headind-logo h3{
    font-size: 60px;
}

#particles-js{
    background-image: url('image1.jpg');
    background-attachment: fixed;
    height: 100vh;
}
#particles2-js{
    background-image: url('image1.jpg');
    background-attachment: fixed;
    height: 100vh;
}
#landing-content{
    border:2px solid transparent;
    background-color: wheat;
    border-radius: 10px;
    text-align: center;
}
#landing-content p{
    text-align: justify;
}

#event-logo{
    color: #f9f3f4;
    position: relative;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 0.6em;

}
